* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v5_297 {
  width: 430px;
  height: 932px;
  background: rgba(248,247,244,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
  overflow: hidden;
}
.v5_298 {
  width: 430px;
  height: 932px;
  background: url("../images/v5_298.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.029999999329447746;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_299 {
  width: 431px;
  height: 431px;
  background: url("../images/v5_299.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 6px 6px;
  opacity: 1;
  position: absolute;
  top: 184px;
  left: 183px;
  border-top-left-radius: 33554400px;
  border-top-right-radius: 33554400px;
  border-bottom-left-radius: 33554400px;
  border-bottom-right-radius: 33554400px;
  overflow: hidden;
}
.v5_300 {
  width: 431px;
  height: 431px;
  background: url("../images/v5_300.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 6px 6px;
  opacity: 1;
  position: absolute;
  top: 684px;
  left: 183px;
  border-top-left-radius: 33554400px;
  border-top-right-radius: 33554400px;
  border-bottom-left-radius: 33554400px;
  border-bottom-right-radius: 33554400px;
  overflow: hidden;
}
.v5_301 {
  width: 384px;
  height: 384px;
  background: url("../images/v5_301.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 4px 4px;
  opacity: 1;
  position: absolute;
  top: 274px;
  left: 23px;
  border-top-left-radius: 33554400px;
  border-top-right-radius: 33554400px;
  border-bottom-left-radius: 33554400px;
  border-bottom-right-radius: 33554400px;
  overflow: hidden;
}
.v5_302 {
  width: 382px;
  height: 380px;
  background: url("../images/v5_302.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 64px;
  opacity: 1;
  position: absolute;
  top: 223px;
  left: 24px;
  overflow: hidden;
}
.v5_303 {
  width: 382px;
  height: 306px;
  background: url("../images/v5_303.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_304 {
  width: 112px;
  height: 112px;
  background: url("../images/v5_304.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 135px;
  overflow: hidden;
}
.v5_305 {
  width: 168px;
  height: 168px;
  background: rgba(13,126,94,1);
  opacity: 0.30000001192092896;
  position: absolute;
  top: 28px;
  left: 28px;
  overflow: hidden;
}
.v5_306 {
  width: 112px;
  height: 112px;
  background: linear-gradient(rgba(13,126,94,1), rgba(10,99,73,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v5_307 {
  width: 56px;
  height: 56px;
  background: url("../images/v5_307.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 28px;
  overflow: hidden;
}
.v5_308 {
  width: 46px;
  height: 39px;
  background: url("../images/v5_308.png");
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 4px;
  border: 3.5px solid rgba(255,255,255,1);
}
.v5_309 {
  width: 382px;
  height: 40px;
  background: url("../images/v5_309.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 0px;
  overflow: hidden;
}
.v5_310 {
  width: 216px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 0px;
  left: 83px;
  font-family: Cairo;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v5_311 {
  width: 64px;
  height: 4px;
  background: linear-gradient(rgba(0,0,0,0), rgba(107,106,106,0.30000001192092896));
  opacity: 1;
  position: absolute;
  top: 220px;
  left: 159px;
  border-top-left-radius: 33554400px;
  border-top-right-radius: 33554400px;
  border-bottom-left-radius: 33554400px;
  border-bottom-right-radius: 33554400px;
  overflow: hidden;
}
.v5_312 {
  width: 382px;
  height: 58px;
  background: url("../images/v5_312.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 248px;
  left: 0px;
  overflow: hidden;
}
.v5_313 {
  width: 336px;
  color: rgba(107,107,107,1);
  position: absolute;
  top: 1px;
  left: 23px;
  font-family: Cairo;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v5_314 {
  width: 382px;
  height: 10px;
  background: url("../images/v5_314.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 370px;
  left: 0px;
  overflow: hidden;
}
.v5_315 {
  width: 10px;
  height: 10px;
  background: url("../images/v5_315.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 225px;
  border-top-left-radius: 33554400px;
  border-top-right-radius: 33554400px;
  border-bottom-left-radius: 33554400px;
  border-bottom-right-radius: 33554400px;
  overflow: hidden;
}
.v5_316 {
  width: 10px;
  height: 10px;
  background: rgba(232,230,225,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_317 {
  width: 10px;
  height: 10px;
  background: url("../images/v5_317.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 205px;
  border-top-left-radius: 33554400px;
  border-top-right-radius: 33554400px;
  border-bottom-left-radius: 33554400px;
  border-bottom-right-radius: 33554400px;
  overflow: hidden;
}
.v5_318 {
  width: 10px;
  height: 10px;
  background: rgba(232,230,225,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_319 {
  width: 48px;
  height: 10px;
  background: url("../images/v5_319.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 147px;
  border-top-left-radius: 33554400px;
  border-top-right-radius: 33554400px;
  border-bottom-left-radius: 33554400px;
  border-bottom-right-radius: 33554400px;
  overflow: hidden;
}
.v5_320 {
  width: 48px;
  height: 10px;
  background: linear-gradient(rgba(13,126,94,1), rgba(10,99,73,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_322 {
  width: 430px;
  height: 105px;
  background: url("../images/v5_322.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 94px;
  opacity: 1;
  position: absolute;
  top: 827px;
  left: 0px;
  overflow: hidden;
}
.v5_323 {
  width: 198px;
  height: 56px;
  background: url("../images/v5_323.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 24px;
  overflow: hidden;
}
.v5_324 {
  width: 56px;
  height: 56px;
  background: rgba(248,247,244,1);
  padding: 2px 2px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 142px;
  border-top-left-radius: 33554400px;
  border-top-right-radius: 33554400px;
  border-bottom-left-radius: 33554400px;
  border-bottom-right-radius: 33554400px;
  overflow: hidden;
}
.v5_325 {
  width: 16px;
  height: 16px;
  background: url("../images/v5_325.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.v5_326 {
  width: 4px;
  height: 8px;
  background: url("../images/v5_326.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 6px;
  border: 1.3333333730697632px solid rgba(26,26,26,1);
}
.v5_327 {
  width: 130px;
  height: 56px;
  background: linear-gradient(rgba(13,126,94,1), rgba(10,99,73,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 33554400px;
  border-top-right-radius: 33554400px;
  border-bottom-left-radius: 33554400px;
  border-bottom-right-radius: 33554400px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v5_328 {
  width: 130px;
  height: 56px;
  background: rgba(255,255,255,0.20000000298023224);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 131px;
  overflow: hidden;
}
.v5_329 {
  width: 50px;
  height: 24px;
  background: url("../images/v5_329.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 40px;
  overflow: hidden;
}
.v5_330 {
  width: 51px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Cairo;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v5_331 {
  width: 88px;
  height: 48px;
  background: url("../images/v5_331.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 24px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 317px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v5_332 {
  width: 41px;
  color: rgba(107,107,107,1);
  position: absolute;
  top: 12px;
  left: 23px;
  font-family: Cairo;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
