* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v25_1004 {
  width: 415px;
  height: 1323px;
  background: rgba(248,247,244,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
  overflow: hidden;
}
.v25_887 {
  width: 415px;
  height: 104px;
  background: linear-gradient(rgba(13,126,94,1), rgba(13,126,94,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  overflow: hidden;
}
.v25_888 {
  width: 415px;
  height: 104px;
  background: url("../images/v25_888.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.05000000074505806;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v25_889 {
  width: 128px;
  height: 128px;
  background: url("../images/v25_889.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 4px 4px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 351px;
  border-top-left-radius: 33554400px;
  border-top-right-radius: 33554400px;
  border-bottom-left-radius: 33554400px;
  border-bottom-right-radius: 33554400px;
  overflow: hidden;
}
.v25_890 {
  width: 96px;
  height: 96px;
  background: url("../images/v25_890.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 4px 4px;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 48px;
  border-top-left-radius: 33554400px;
  border-top-right-radius: 33554400px;
  border-bottom-left-radius: 33554400px;
  border-bottom-right-radius: 33554400px;
  overflow: hidden;
}
.v25_891 {
  width: 367px;
  height: 56px;
  background: url("../images/v25_891.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 78px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
  overflow: hidden;
}
.v25_892 {
  width: 40px;
  height: 40px;
  background: url("../images/v25_892.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  border-top-left-radius: 33554400px;
  border-top-right-radius: 33554400px;
  border-bottom-left-radius: 33554400px;
  border-bottom-right-radius: 33554400px;
  overflow: hidden;
}
.v25_893 {
  width: 16px;
  height: 16px;
  background: url("../images/v25_893.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.v25_894 {
  width: 6px;
  height: 10px;
  background: url("../images/v25_894.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1px;
  border: 1.3333333730697632px solid rgba(255,255,255,1);
}
.v25_895 {
  width: 0px;
  height: 4px;
  background: url("../images/v25_895.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 10px;
  border: 1.3333333730697632px solid rgba(255,255,255,1);
}
.v25_896 {
  width: 1px;
  height: 8px;
  background: url("../images/v25_896.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 12px;
  border: 1.3333333730697632px solid rgba(255,255,255,1);
}
.v25_897 {
  width: 248px;
  height: 56px;
  background: url("../images/v25_897.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 118px;
  overflow: hidden;
}
.v25_898 {
  width: 192px;
  height: 56px;
  background: url("../images/v25_898.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v25_899 {
  width: 192px;
  height: 32px;
  background: url("../images/v25_899.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v25_900 {
  width: 193px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Cairo;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: right;
}
.v25_901 {
  width: 192px;
  height: 20px;
  background: url("../images/v25_901.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 0px;
  overflow: hidden;
}
.v25_902 {
  width: 154px;
  color: rgba(255,254,254,0.800000011920929);
  position: absolute;
  top: 0px;
  left: 38px;
  font-family: Cairo;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: right;
}
.v25_903 {
  width: 40px;
  height: 40px;
  background: url("../images/v25_903.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 208px;
  border-top-left-radius: 33554400px;
  border-top-right-radius: 33554400px;
  border-bottom-left-radius: 33554400px;
  border-bottom-right-radius: 33554400px;
  overflow: hidden;
}
.v25_904 {
  width: 16px;
  height: 16px;
  background: url("../images/v25_904.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.v25_905 {
  width: 9px;
  background: url("../images/v25_905.png");
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 3px;
  border: 1.3333333730697632px solid rgba(255,255,255,1);
}
.v25_906 {
  width: 4px;
  height: 9px;
  background: url("../images/v25_906.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 8px;
  border: 1.3333333730697632px solid rgba(255,255,255,1);
}
.v25_907 {
  width: 415px;
  height: 1219px;
  background: url("../images/v25_907.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 20px 20px;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 0px;
  overflow: hidden;
}
.v25_908 {
  width: 375px;
  height: 154px;
  background: url("../images/v25_908.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.v25_909 {
  width: 181px;
  height: 64px;
  background: rgba(255,255,255,1);
  padding: 16px 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v25_910 {
  width: 145px;
  height: 28px;
  background: url("../images/v25_910.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 18px;
  overflow: hidden;
}
.v25_911 {
  width: 43px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 0px;
  left: 51px;
  font-family: Amiri;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v25_912 {
  width: 181px;
  height: 78px;
  background: linear-gradient(rgba(232,245,241,1), rgba(255,255,255,1));
  padding: 2px 2px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 193px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v25_913 {
  width: 177px;
  height: 74px;
  background: linear-gradient(rgba(12,126,94,0.05000000074505806), rgba(211,175,55,0.05000000074505806));
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  overflow: hidden;
}
.v25_914 {
  width: 145px;
  height: 42px;
  background: url("../images/v25_914.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 18px;
  overflow: hidden;
}
.v25_915 {
  width: 145px;
  height: 28px;
  background: url("../images/v25_915.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v25_916 {
  width: 62px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 0px;
  left: 42px;
  font-family: Amiri;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v25_917 {
  width: 6px;
  height: 6px;
  background: rgba(13,126,94,1);
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 69px;
  border-top-left-radius: 33554400px;
  border-top-right-radius: 33554400px;
  border-bottom-left-radius: 33554400px;
  border-bottom-right-radius: 33554400px;
  overflow: hidden;
}
.v25_918 {
  width: 181px;
  height: 64px;
  background: rgba(255,255,255,1);
  padding: 16px 16px;
  opacity: 1;
  position: absolute;
  top: 90px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v25_919 {
  width: 145px;
  height: 28px;
  background: url("../images/v25_919.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 18px;
  overflow: hidden;
}
.v25_920 {
  width: 74px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 0px;
  left: 35px;
  font-family: Amiri;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v25_921 {
  width: 181px;
  height: 64px;
  background: rgba(255,255,255,1);
  padding: 16px 16px;
  opacity: 1;
  position: absolute;
  top: 90px;
  left: 193px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v25_922 {
  width: 145px;
  height: 28px;
  background: url("../images/v25_922.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 18px;
  overflow: hidden;
}
.v25_923 {
  width: 49px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 0px;
  left: 48px;
  font-family: Amiri;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v25_924 {
  width: 375px;
  height: 678px;
  background: rgba(255,255,255,1);
  padding: 32px 32px;
  margin: 56px;
  opacity: 1;
  position: absolute;
  top: 198px;
  left: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v25_925 {
  width: 307px;
  height: 460px;
  background: url("../images/v25_925.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 34px;
  overflow: hidden;
}
.v25_926 {
  width: 307px;
  height: 36px;
  background: url("../images/v25_926.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v25_927 {
  width: 102px;
  color: rgba(13,126,94,1);
  position: absolute;
  top: 0px;
  left: 102px;
  font-family: Amiri;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v25_928 {
  width: 240px;
  height: 240px;
  background: url("../images/v25_928.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 33px;
  overflow: hidden;
}
.v25_929 {
  width: 264px;
  height: 264px;
  background: linear-gradient(rgba(12,126,94,0.20000000298023224), rgba(211,175,55,0.20000000298023224));
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
  border-top-left-radius: 33554400px;
  border-top-right-radius: 33554400px;
  border-bottom-left-radius: 33554400px;
  border-bottom-right-radius: 33554400px;
  overflow: hidden;
}
.v25_930 {
  width: 240px;
  height: 240px;
  background: url("../images/v25_930.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v25_931 {
  width: 80px;
  height: 72px;
  background: url("../images/v25_931.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 79px;
  overflow: hidden;
}
.v25_932 {
  width: 81px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Cairo;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: center;
}
.v25_933 {
  width: 37px;
  height: 20px;
  background: url("../images/v25_933.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 143px;
  left: 101px;
  overflow: hidden;
}
.v25_934 {
  width: 38px;
  color: rgba(107,107,107,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Cairo;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v25_935 {
  width: 64px;
  height: 6px;
  background: rgba(225,225,225,1);
  opacity: 1;
  position: absolute;
  top: 171px;
  left: 88px;
  border-top-left-radius: 33554400px;
  border-top-right-radius: 33554400px;
  border-bottom-left-radius: 33554400px;
  border-bottom-right-radius: 33554400px;
  overflow: hidden;
}
.v25_936 {
  width: 38px;
  height: 6px;
  background: linear-gradient(rgba(13,126,94,1), rgba(212,175,55,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 25px;
  overflow: hidden;
}
.v25_937 {
  width: 240px;
  height: 240px;
  background: url("../images/v25_937.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v25_938 {
  width: 200px;
  height: 200px;
  background: url("../images/v25_938.png");
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  border: 8px solid rgba(226,226,226,0.5);
}
.v25_939 {
  width: 200px;
  height: 200px;
  background: url("../images/v25_939.png");
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  border: 8px solid linear-gradient(rgba(13,126,94,1), rgba(212,175,55,1));
}
.v25_940 {
  width: 307px;
  height: 128px;
  background: url("../images/v25_940.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 332px;
  left: 0px;
  overflow: hidden;
}
.v25_941 {
  width: 337px;
  height: 140px;
  background: linear-gradient(rgba(13,126,94,1), rgba(212,175,55,1));
  opacity: 0.30000001192092896;
  position: absolute;
  top: 7px;
  left: 16px;
  border-top-left-radius: 33554400px;
  border-top-right-radius: 33554400px;
  border-bottom-left-radius: 33554400px;
  border-bottom-right-radius: 33554400px;
  overflow: hidden;
}
.v25_942 {
  width: 128px;
  height: 128px;
  background: linear-gradient(rgba(13,126,94,1), rgba(10,99,73,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 89px;
  border-top-left-radius: 33554400px;
  border-top-right-radius: 33554400px;
  border-bottom-left-radius: 33554400px;
  border-bottom-right-radius: 33554400px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v25_943 {
  width: 57px;
  height: 52px;
  background: url("../images/v25_943.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 35px;
  overflow: hidden;
}
.v25_944 {
  width: 57px;
  height: 32px;
  background: url("../images/v25_944.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v25_945 {
  width: 58px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Cairo;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v25_946 {
  width: 54px;
  height: 16px;
  background: url("../images/v25_946.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.800000011920929;
  position: absolute;
  top: 36px;
  left: 1px;
  overflow: hidden;
}
.v25_947 {
  width: 55px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Cairo;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v25_948 {
  width: 307px;
  height: 94px;
  background: url("../images/v25_948.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 550px;
  left: 34px;
  overflow: hidden;
}
.v25_949 {
  width: 119px;
  height: 32px;
  background: rgba(248,247,244,1);
  padding: 2px 2px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 1px;
  border-top-left-radius: 33554400px;
  border-top-right-radius: 33554400px;
  border-bottom-left-radius: 33554400px;
  border-bottom-right-radius: 33554400px;
  overflow: hidden;
}
.v25_950 {
  width: 16px;
  height: 16px;
  background: url("../images/v25_950.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 91px;
  overflow: hidden;
}
.v25_951 {
  width: 12px;
  height: 12px;
  background: url("../images/v25_951.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  border: 1.3333333730697632px solid rgba(26,26,26,1);
}
.v25_952 {
  width: 3px;
  height: 3px;
  background: url("../images/v25_952.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  border: 1.3333333730697632px solid rgba(26,26,26,1);
}
.v25_953 {
  width: 66px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 6px;
  left: 12px;
  font-family: Cairo;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v25_954 {
  width: 93px;
  height: 72px;
  background: url("../images/v25_954.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 119px;
  overflow: hidden;
}
.v25_955 {
  width: 48px;
  height: 48px;
  background: linear-gradient(rgba(211,175,55,0.10000000149011612), rgba(12,126,94,0.10000000149011612));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 22px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  overflow: hidden;
}
.v25_956 {
  width: 26px;
  height: 32px;
  background: url("../images/v25_956.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 10px;
  overflow: hidden;
}
.v25_957 {
  width: 27px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Cairo;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v25_958 {
  width: 93px;
  height: 16px;
  background: url("../images/v25_958.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 0px;
  overflow: hidden;
}
.v25_959 {
  width: 69px;
  color: rgba(107,107,107,1);
  position: absolute;
  top: 1px;
  left: 12px;
  font-family: Cairo;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v25_960 {
  width: 93px;
  height: 72px;
  background: url("../images/v25_960.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 213px;
  overflow: hidden;
}
.v25_961 {
  width: 48px;
  height: 48px;
  background: linear-gradient(rgba(12,126,94,0.10000000149011612), rgba(211,175,55,0.10000000149011612));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 22px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  overflow: hidden;
}
.v25_962 {
  width: 13px;
  height: 32px;
  background: url("../images/v25_962.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 17px;
  overflow: hidden;
}
.v25_963 {
  width: 14px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Cairo;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v25_964 {
  width: 93px;
  height: 16px;
  background: url("../images/v25_964.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 0px;
  overflow: hidden;
}
.v25_965 {
  width: 38px;
  color: rgba(107,107,107,1);
  position: absolute;
  top: 1px;
  left: 27px;
  font-family: Cairo;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v25_966 {
  width: 375px;
  height: 242px;
  background: linear-gradient(rgba(244,229,194,1), rgba(232,215,176,1));
  padding: 2px 2px;
  opacity: 1;
  position: absolute;
  top: 900px;
  left: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v25_967 {
  width: 80px;
  height: 80px;
  background: url("../images/v25_967.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 4px 4px;
  opacity: 0.10000000149011612;
  position: absolute;
  top: 2px;
  left: 293px;
  border-top-left-radius: 33554400px;
  border-top-right-radius: 33554400px;
  border-bottom-left-radius: 33554400px;
  border-bottom-right-radius: 33554400px;
  overflow: hidden;
}
.v25_968 {
  width: 331px;
  height: 198px;
  background: url("../images/v25_968.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 22px;
  overflow: hidden;
}
.v25_969 {
  width: 40px;
  height: 40px;
  background: rgba(212,175,55,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 145px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v25_970 {
  width: 20px;
  height: 20px;
  background: url("../images/v25_970.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.v25_971 {
  width: 16px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}
.v25_972 {
  width: 331px;
  height: 16px;
  background: url("../images/v25_972.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 0px;
  overflow: hidden;
}
.v25_973 {
  width: 70px;
  color: rgba(107,107,107,1);
  position: absolute;
  top: 1px;
  left: 130px;
  font-family: Cairo;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v25_974 {
  width: 48px;
  height: 1px;
  background: linear-gradient(rgba(0,0,0,0), rgba(212,175,55,1));
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 141px;
  overflow: hidden;
}
.v25_975 {
  width: 331px;
  height: 64px;
  background: url("../images/v25_975.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 93px;
  left: 0px;
  overflow: hidden;
}
.v25_976 {
  width: 305px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 0px;
  left: 13px;
  font-family: Amiri;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v25_977 {
  width: 48px;
  height: 1px;
  background: linear-gradient(rgba(0,0,0,0), rgba(212,175,55,1));
  opacity: 1;
  position: absolute;
  top: 169px;
  left: 141px;
  overflow: hidden;
}
.v25_978 {
  width: 331px;
  height: 16px;
  background: url("../images/v25_978.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 182px;
  left: 0px;
  overflow: hidden;
}
.v25_979 {
  width: 97px;
  color: rgba(107,107,107,1);
  position: absolute;
  top: 1px;
  left: 117px;
  font-family: Cairo;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
