* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v5_228 {
  width: 430px;
  height: 932px;
  background: rgba(248,247,244,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
  overflow: hidden;
}
.v5_229 {
  width: 430px;
  height: 932px;
  background: url("../images/v5_229.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.029999999329447746;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_230 {
  width: 450px;
  height: 450px;
  background: url("../images/v5_230.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 6px 6px;
  opacity: 1;
  position: absolute;
  top: 194px;
  left: 173px;
  border-top-left-radius: 33554400px;
  border-top-right-radius: 33554400px;
  border-bottom-left-radius: 33554400px;
  border-bottom-right-radius: 33554400px;
  overflow: hidden;
}
.v5_231 {
  width: 450px;
  height: 450px;
  background: url("../images/v5_231.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 6px 6px;
  opacity: 1;
  position: absolute;
  top: 674px;
  left: 193px;
  border-top-left-radius: 33554400px;
  border-top-right-radius: 33554400px;
  border-bottom-left-radius: 33554400px;
  border-bottom-right-radius: 33554400px;
  overflow: hidden;
}
.v5_232 {
  width: 384px;
  height: 384px;
  background: url("../images/v5_232.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 4px 4px;
  opacity: 1;
  position: absolute;
  top: 274px;
  left: 23px;
  border-top-left-radius: 33554400px;
  border-top-right-radius: 33554400px;
  border-bottom-left-radius: 33554400px;
  border-bottom-right-radius: 33554400px;
  overflow: hidden;
}
.v5_233 {
  width: 382px;
  height: 380px;
  background: url("../images/v5_233.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 64px;
  opacity: 1;
  position: absolute;
  top: 223px;
  left: 24px;
  overflow: hidden;
}
.v5_234 {
  width: 382px;
  height: 306px;
  background: url("../images/v5_234.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_235 {
  width: 112px;
  height: 112px;
  background: url("../images/v5_235.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 135px;
  overflow: hidden;
}
.v5_236 {
  width: 168px;
  height: 168px;
  background: rgba(212,175,55,1);
  opacity: 0.30000001192092896;
  position: absolute;
  top: 28px;
  left: 28px;
  overflow: hidden;
}
.v5_237 {
  width: 112px;
  height: 112px;
  background: linear-gradient(rgba(212,175,55,1), rgba(184,148,31,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v5_238 {
  width: 56px;
  height: 56px;
  background: url("../images/v5_238.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 28px;
  overflow: hidden;
}
.v5_239 {
  width: 9px;
  height: 18px;
  background: url("../images/v5_239.png");
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 28px;
  border: 3.5px solid rgba(255,255,255,1);
}
.v5_240 {
  width: 46px;
  height: 46px;
  background: url("../images/v5_240.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 3.5px solid rgba(255,255,255,1);
}
.v5_241 {
  width: 382px;
  height: 40px;
  background: url("../images/v5_241.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 0px;
  overflow: hidden;
}
.v5_242 {
  width: 212px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 0px;
  left: 85px;
  font-family: Cairo;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v5_243 {
  width: 64px;
  height: 4px;
  background: linear-gradient(rgba(0,0,0,0), rgba(107,106,106,0.30000001192092896));
  opacity: 1;
  position: absolute;
  top: 220px;
  left: 159px;
  border-top-left-radius: 33554400px;
  border-top-right-radius: 33554400px;
  border-bottom-left-radius: 33554400px;
  border-bottom-right-radius: 33554400px;
  overflow: hidden;
}
.v5_244 {
  width: 382px;
  height: 58px;
  background: url("../images/v5_244.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 248px;
  left: 0px;
  overflow: hidden;
}
.v5_245 {
  width: 356px;
  color: rgba(107,107,107,1);
  position: absolute;
  top: 1px;
  left: 13px;
  font-family: Cairo;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v5_246 {
  width: 382px;
  height: 10px;
  background: url("../images/v5_246.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 370px;
  left: 0px;
  overflow: hidden;
}
.v5_247 {
  width: 10px;
  height: 10px;
  background: url("../images/v5_247.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 225px;
  border-top-left-radius: 33554400px;
  border-top-right-radius: 33554400px;
  border-bottom-left-radius: 33554400px;
  border-bottom-right-radius: 33554400px;
  overflow: hidden;
}
.v5_248 {
  width: 10px;
  height: 10px;
  background: rgba(232,230,225,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_249 {
  width: 48px;
  height: 10px;
  background: url("../images/v5_249.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 167px;
  border-top-left-radius: 33554400px;
  border-top-right-radius: 33554400px;
  border-bottom-left-radius: 33554400px;
  border-bottom-right-radius: 33554400px;
  overflow: hidden;
}
.v5_250 {
  width: 48px;
  height: 10px;
  background: linear-gradient(rgba(212,175,55,1), rgba(184,148,31,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_252 {
  width: 10px;
  height: 10px;
  background: url("../images/v5_252.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 147px;
  border-top-left-radius: 33554400px;
  border-top-right-radius: 33554400px;
  border-bottom-left-radius: 33554400px;
  border-bottom-right-radius: 33554400px;
  overflow: hidden;
}
.v5_253 {
  width: 10px;
  height: 10px;
  background: rgba(232,230,225,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_254 {
  width: 430px;
  height: 105px;
  background: url("../images/v5_254.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 86px;
  opacity: 1;
  position: absolute;
  top: 827px;
  left: 0px;
  overflow: hidden;
}
.v5_255 {
  width: 207px;
  height: 56px;
  background: url("../images/v5_255.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 24px;
  overflow: hidden;
}
.v5_256 {
  width: 56px;
  height: 56px;
  background: rgba(248,247,244,1);
  padding: 2px 2px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 151px;
  border-top-left-radius: 33554400px;
  border-top-right-radius: 33554400px;
  border-bottom-left-radius: 33554400px;
  border-bottom-right-radius: 33554400px;
  overflow: hidden;
}
.v5_257 {
  width: 16px;
  height: 16px;
  background: url("../images/v5_257.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.v5_258 {
  width: 4px;
  height: 8px;
  background: url("../images/v5_258.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 6px;
  border: 1.3333333730697632px solid rgba(26,26,26,1);
}
.v5_259 {
  width: 139px;
  height: 56px;
  background: linear-gradient(rgba(212,175,55,1), rgba(184,148,31,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 33554400px;
  border-top-right-radius: 33554400px;
  border-bottom-left-radius: 33554400px;
  border-bottom-right-radius: 33554400px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v5_260 {
  width: 139px;
  height: 56px;
  background: rgba(255,255,255,0.20000000298023224);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 140px;
  overflow: hidden;
}
.v5_261 {
  width: 59px;
  height: 24px;
  background: url("../images/v5_261.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 40px;
  overflow: hidden;
}
.v5_262 {
  width: 36px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 24px;
  font-family: Cairo;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v5_263 {
  width: 16px;
  height: 16px;
  background: url("../images/v5_263.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  overflow: hidden;
}
.v5_264 {
  width: 4px;
  height: 8px;
  background: url("../images/v5_264.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 6px;
  border: 1.3333333730697632px solid rgba(255,255,255,1);
}
.v5_265 {
  width: 88px;
  height: 48px;
  background: url("../images/v5_265.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 24px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 317px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v5_266 {
  width: 41px;
  color: rgba(107,107,107,1);
  position: absolute;
  top: 12px;
  left: 23px;
  font-family: Cairo;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
